<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forget.css') }}"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Forgot Password</h2>
        </div>
        <div class="form-container">
            <form class="forgot-password-form" action="/forgot_password" method="POST">
                <input class="input-field" type="email" name="email" placeholder="Enter your email" required><br>
                <button class="submit-btn" type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>

